.page_container {
  width: 100%;
  height: calc(100vh - 80px);
  border: 1px solid beige;
  background-color: aliceblue;
  padding: 5px 0px;
  display: flex;
  justify-content: center;
}

.main_page {
  width: 100%;
  margin: 0px 5px;
  border: 1px solid #374151;
  padding: 5px;
  overflow-y: auto;
}

.header_bar {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #374151;
  margin-bottom: 5px;
}

.header_bar_title {
  margin-left: 15px;
  color: #374151;
}

.header_bar_total {
  margin-right: 15px;
  color: #374151;
}

.table_container {
  margin: 5px;
}

.cell {
  border-top: 1px solid #374151;
  border-right: 1px solid #374151;
  padding: 5px;
  text-align: left;
  font-size: 1.4rem;
}

.cell_name {
  font-size: 1.4rem;
  font-weight: 700;
}

.cell_address {
  font-size: 1rem;
  font-weight: 400;
}

@media (max-width: 768px) {
  .cell {
    font-size: 0.9rem;
  }

  .cell_name {
    font-size: 1rem;
    font-weight: 700;
  }

  .cell_address {
    font-size: 0.8rem;
    font-weight: 400;
  }
}
