.super_container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

/* ================================ */
/* ==========  MAIN PAGE  ========= */
/* ================================ */

.page_container {
  width: 50%;
  height: calc(100vh - 80px);
  border: 1px solid beige;
  background-color: aliceblue;
  padding: 5px 0px;
  display: flex;
  justify-content: center;
}

.main_page {
  width: 100%;
  margin: 0px 5px;
  border: 1px solid #374151;
  padding: 5px;
  overflow-y: auto;
}

.header_bar {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #374151;
  margin-bottom: 5px;
}

.header_bar_title {
  margin-left: 15px;
  color: #374151;
}

.cell {
  border-top: 1px solid #374151;
  border-right: 1px solid #374151;
  padding: 5px;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 700;
}

/* ================================ */
/* =========  TABLE STYLES ======== */
/* ================================ */

.table_container {
  width: 100%;
  border: 1px solid #374151;
  overflow: auto;
  padding: 5px;
}

.table_loader {
  background-color: white;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  width: 100%;
  border-spacing: 0px;
  background-color: white;
  border-bottom: 1px solid #374151;
  border-left: 1px solid #374151;
}

.table_head_row {
  margin-top: 2px;
  background-color: aliceblue;
}

.table_head {
  cursor: pointer;
  border-top: 1px solid #374151;
  padding-left: 5px;
  cursor: default;
}

.table_head_text {
  height: 30px;
  padding: 5px;
  display: flex;
  align-items: center;
  border-right: 1px solid #374151;
}

.table_row_clickable {
  height: 40px;
  margin-top: 2px;
  cursor: pointer;
}

.table_row_clickable:hover {
  background-color: beige;
}

/* ================================ */
/* ==========  SIDE BAR =========== */
/* ================================ */

.side_bar_container {
  background-color: #f7f7ec;
  border-right: 1px solid #374151;
  width: 50%;
  height: calc(100vh - 80px);
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
}

.side_bar_header {
  margin: 5px 5px 0px 5px;
  padding: 5px;
  text-align: center;
  border: 1px solid #374151;
  background-color: aliceblue;
  font-size: 1.2rem;
  font-weight: 700;
}

.summary_box {
  border: 1px solid #374151;
  margin: 5px 5px 0px 5px;
  padding: 5px;
}

.total_box {
  width: 100%;
  background-color: black;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.total_item_container {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #374151;
  padding: 5px 0px;
}

.total_item_value {
  font-size: 2.5rem;
}

.header_box {
  background-color: aliceblue;
  height: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  padding-left: 15px;
}

.header {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .super_container {
    width: 100%;
    flex-direction: column;
    margin-bottom: 65px;
  }

  .side_bar_container {
    width: 100%;
    overflow: unset;
    height: auto;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }

  .total_item_value {
    font-size: 1.8rem;
  }

  .page_container {
    width: 100%;
    height: auto;
    padding: 5px 0px;
  }

  .header_bar {
    height: 30px;
  }

  .header {
    font-size: 1rem;
  }

  .cell {
    font-size: 1rem;
    font-weight: 400;
  }
}
