.page_container {
  width: 100%;
  height: calc(100vh - 80px);
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
}

.summary_box {
  border: 1px solid #374151;
  padding: 5px;
  margin: 5px;
}

.header_box {
  background-color: aliceblue;
  height: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  padding-left: 15px;
}

.header {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .page_container {
    height: calc(100vh - 125px);
  }

  .header {
    font-size: 1rem;
  }
}
