.main_page {
  width: 100%;
  margin: 0px 5px;
  border: 1px solid #374151;
  padding: 5px;
  overflow-y: auto;
}

.header_bar {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #374151;
  margin-bottom: 5px;
}

.header_bar_title {
  margin-left: 15px;
}

.search_input {
  width: 50%;
  height: 40px;
  margin-right: 5px;
  border: 1px solid #374151;
  padding: 5px;
}

/* ================================ */
/* ==========  SIDE BAR  ========== */
/* ================================ */

.container {
  background-color: #f7f7ec;
  border-right: 1px solid #374151;
  width: 30%;
  height: calc(100vh - 80px);
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.main_box {
  border: 1px solid #374151;
  padding: 5px;
}

.header {
  text-align: center;
}

.customer_box {
  border: 1px solid #374151;
  background-color: beige;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 5px;
  transition: all 0.2s ease-out;
}

.customer_box:hover {
  background-color: aliceblue;
}

.sub_header {
  font-size: 1.2rem;
  font-weight: 700;
  width: 100%;
  border-bottom: 1px solid #374151;
  margin-bottom: 5px;
}

.info_container {
  display: flex;
  font-size: 1.2rem;
  border-bottom: 1px solid #b9b9b9;
  margin-bottom: 3px;
}
.title {
  width: 150px;
}

.bottom_container {
  width: 100%;
  border: 1px solid #374151;
}

.total_container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.total {
  font-size: 2rem;
}

.action_container {
  display: flex;
  flex-direction: row;
}
.save {
  display: flex;
  width: 50%;
  background-color: green;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  cursor: pointer;
}

.save:hover {
  background-color: #282929;
  color: green;
}
.cancel {
  display: flex;
  width: 50%;
  background-color: red;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  cursor: pointer;
}

.cancel:hover {
  background-color: #282929;
  color: red;
}
/* ================================ */
/* ==========  CARDS  ============= */
/* ================================ */

.cards_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.card {
  width: 190px;
  height: 190px;
  border: 1px solid #374151;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  background-color: #374151;
}

.number_card {
  width: 190px;
  height: 190px;
  border: 1px solid #374151;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 5rem;
  font-weight: 700;
}

.card:hover {
  opacity: 0.8;
  border: 1px solid black;
}

.card_name {
  color: white;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}

.card_price {
  color: aliceblue;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.85);
  font-size: 3.6rem;
  margin-bottom: 20px;
}

/* ================================ */
/* ====  EDIT SHOPPING CART  ====== */
/* ================================ */

.table {
  width: 100%;
  background-color: #374151;
  padding: 0px;
  border-spacing: 1px;
}

.table_head {
  background-color: white;
  padding: 5px;
  font-size: 1.2rem;
}

.cell {
  background-color: white;
  padding: 5px 10px;
  font-size: 1.2rem;
}

.cell_icon_container {
  display: flex;
  justify-content: space-around;
  background-color: white;
  align-items: center;
  height: 60px;
  font-size: 1.4rem;
}

.cell_qty_text {
  border: 1px solid #374151;
  padding: 5px 10px;
  background-color: aliceblue;
}

.delete {
  border: 1px solid red;
  color: white;
  background-color: red;
  padding: 5px 5px 3px 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-size: 1.6rem;
}

.delete:hover {
  background-color: white;
  color: red;
}

.arrow_up {
  background-color: blue;
  border: 1px solid blue;
  color: white;
  padding: 5px 5px 3px 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-size: 1.6rem;
}

.arrow_up:hover {
  background-color: white;
  color: blue;
}

.arrow_down {
  background-color: green;
  border: 1px solid green;
  color: white;
  padding: 5px 5px 3px 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-size: 1.6rem;
}

.arrow_down:hover {
  background-color: white;
  color: green;
}

.button_container {
  display: flex;
  flex-direction: row;
}

.button_cancel {
  width: 50%;
  border: 1px solid #374151;
  color: #374151;
  background-color: rgb(222, 92, 92);
  padding: 10px 10px;
  text-align: center;
  margin: 1px;
  transition: 0.3s;
  cursor: pointer;
  font-size: 1.4rem;
}

.button_cancel:hover {
  background-color: #374151;
  color: rgb(222, 92, 92);
  border: 1px solid rgb(222, 92, 92);
}

.button_save {
  width: 50%;
  border: 1px solid #374151;
  color: #374151;
  background-color: rgb(90, 216, 90);
  padding: 10px 10px;
  text-align: center;
  margin: 1px;
  transition: 0.3s;
  cursor: pointer;
  font-size: 1.4rem;
}

.button_save:hover {
  background-color: #374151;
  color: rgb(90, 216, 90);
  border: 1px solid rgb(90, 216, 90);
}
