/* ================================ */
/* =======  ORDER DETAILS  ======== */
/* ================================ */

.cell_order_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
}

.cell_customer {
  font-size: 1.2rem;
  font-weight: 700;
  width: 400px;
}

.cell_delivery_time {
  font-size: 1.2rem;
  display: block;
}

.cell_edit_icon {
  width: 40px;
  height: 40px;
  display: flex;
  color: #374151;
  background-color: aliceblue;
  border: 1px solid #374151;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.cell_edit_icon:hover {
  color: aliceblue;
  background-color: #374151;
  border: 1px solid aliceblue;
}

.hide_details {
  max-height: 0px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.show {
  max-height: 200px;
  overflow: auto;
}

@media (max-width: 900px) {
  .cell_delivery_time {
    display: none;
  }
}

@media (max-width: 500px) {
  .cell_customer {
    font-size: 1rem;
    font-weight: 400;
    width: 200px;
  }
  .hidden {
    display: block;
  }
}

@media (max-width: 375px) {
  .cell_customer {
    width: 130px;
  }
}

/* ================================ */
/* ========  ORDER STATUS  ======== */
/* ================================ */

.cell_order_number_container {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: bold;
  height: 60px;
  width: 100%;
}

.pink {
  background-color: pink;
}

.turquoise {
  background-color: turquoise;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
  color: white;
}

.purple {
  background-color: purple;
  color: white;
}

.blue {
  background-color: blue;
  color: white;
}

.green {
  background-color: green;
  color: white;
}
.status_icon_container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.status_icon {
  background-color: beige;
  border: 1px solid white;
  color: #374151;
  cursor: pointer;
  font-size: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 200px;
}

.status_icon:hover {
  border: 1px solid #374151;
}

.status_icon_green {
  background-color: green;
  color: white;
}

.status_icon_blue {
  background-color: blue;
  color: white;
}

.status_icon_red {
  background-color: red;
  color: white;
}

.status_icon_text {
  font-size: 1.6rem;
  padding-top: 15px;
}

.button_container {
  display: flex;
  justify-content: center;
}

.button_cancel {
  width: 305px;
  height: 80px;
  border: 1px solid #374151;
  color: #374151;
  background-color: rgb(222, 92, 92);
  padding: 10px;
  text-align: center;
  margin: 20px;
  transition: 0.3s;
  cursor: pointer;
  font-size: 1.2rem;
}

.button_cancel:hover {
  background-color: #374151;
  color: rgb(222, 92, 92);
  border: 1px solid rgb(222, 92, 92);
}

.button_save {
  width: 305px;
  height: 80px;
  border: 1px solid #374151;
  color: #374151;
  background-color: rgb(90, 216, 90);
  padding: 10px;
  text-align: center;
  margin: 20px;
  transition: 0.3s;
  cursor: pointer;
  font-size: 1.2rem;
}

.button_save:hover {
  background-color: #374151;
  color: rgb(90, 216, 90);
  border: 1px solid rgb(90, 216, 90);
}

@media (max-width: 500px) {
  .cell_order_number_container {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
  }

  .order_status {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 50px;
  }
}
