.page_container {
  width: 70%;
  border: 1px solid beige;
  background-color: aliceblue;
  height: 1000px;
  padding: 10px;
}

.page_modal_body {
  width: 100%;
  border: 1px solid beige;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
}

.floating_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  padding-left: 2px;
  font-size: 2rem;
  color: #374151;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 8px;
  background-color: lightgreen;
  border: 1px solid white;
  position: fixed;
  top: 0px;
  left: 5px;
}

.floating_icon:hover {
  color: beige;
  background-color: #374151;
}

.sub_container {
  background-color: aliceblue;
  border: 1px solid #374151;
  margin: 5px;
  padding: 0px 10px 10px 10px;
}
.sub_header_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #374151;
}

.sub_header_icon_container {
  display: flex;
}

.sub_header_icon {
  height: 50px;
  padding: 0px 10px;
  font-size: 2rem;
  color: #374151;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 5px;
  border: 1px solid #374151;
}

.sub_header_icon:hover {
  color: beige;
  background-color: #374151;
}

.selected_data {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search_input {
  width: 300px;
  margin: 10px auto;
  font-size: 1.2rem;
  padding: 5px;
  color: #374151;
  border: 1px solid #374151;
  background-color: beige;
  border-radius: 5px;
}

.sub_title {
  margin: 5px;
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .page_container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .floating_icon {
    height: 44px;
    width: 44px;
    padding-left: 0px;
  }
}
