.page_container {
  width: 70%;
  height: calc(100vh - 80px);
  border: 1px solid beige;
  background-color: aliceblue;
  padding: 5px 0px;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease-out;
  overflow-x: hidden;
}

.page_container_hide {
  width: 0px;
  height: calc(100vh - 80px);
  border: 1px solid beige;
  background-color: aliceblue;
  padding: 5px 0px;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease-out;
  overflow-x: hidden;
}

.main_page {
  width: 100%;
  margin: 0px 5px;
  border: 1px solid #374151;
  padding: 5px;
  overflow-y: auto;
}

.header_bar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #374151;
  margin-bottom: 5px;
}

.header_bar_title {
  margin: 0px 15px;
}

.header_bar_filter {
  border: 1px solid #374151;
  background-color: beige;
  padding: 0px 20px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.header_bar_filter:hover {
  border: 1px solid beige;
  color: beige;
  background-color: #374151;
}

.quantity_display {
  font-size: 1.8rem;
  font-weight: 700;
  width: 150px;
  background-color: white;
  border: 1px solid #374151;
  display: flex;
  justify-content: flex-end;
  padding: 5px 10px;
  min-height: 50px;
}

.header_bar_cancel {
  border: 1px solid #374151;
  background-color: #d9534f;
  padding: 0px 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-out;
  color: white;
}

.header_bar_cancel:hover {
  border: 1px solid #d9534f;
  color: #d9534f;
  background-color: white;
}

.header_bar_cancel_icon {
  font-size: 1.8rem;
  padding: 0px;
  margin-bottom: -5px;
  margin-right: 5px;
}

.header_bar_cancel_text {
  font-size: 0.9rem;
  padding: 0px;
  margin: 0px;
}

.header_bar_save {
  border: 1px solid #374151;
  background-color: #5cb85c;
  padding: 0px 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-out;
  color: white;
}

.header_bar_save:hover {
  border: 1px solid #5cb85c;
  color: #5cb85c;
  background-color: white;
}

.header_bar_save_icon {
  font-size: 1.8rem;
  padding: 0px;
  margin-bottom: -5px;
  margin-right: 5px;
}

.header_bar_save_text {
  font-size: 0.9rem;
  padding: 0px;
  margin: 0px;
}

.address_selector_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: aliceblue;
  padding: 10px;
}

.address_grid {
  font-size: 1.2rem;
  padding: 15px 5px;
  border: 1px solid #374151;
  margin: 2px;
  background-color: beige;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.address_grid:hover {
  border: 1px solid beige;
  background-color: #374151;
  color: beige;
}

.number_selector_container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  background-color: aliceblue;
  padding: 10px;
}

.number_grid {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 5px;
  margin: 2px;
  border: 1px solid #374151;
  background-color: beige;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.number_grid:hover {
  border: 1px solid beige;
  background-color: #374151;
  color: beige;
}

.clear_filter_button {
  font-size: 2rem;
  padding: 5px;
  margin: 5px 12px;
  border: 1px solid #374151;
  background-color: beige;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.clear_filter_button:hover {
  border: 1px solid beige;
  background-color: #374151;
  color: beige;
}

.search_input {
  width: 50%;
  height: 40px;
  margin-right: 5px;
  border: 1px solid #374151;
  padding: 5px;
}

/* ================================ */
/* ==========  SIDE BAR  ========== */
/* ================================ */

.container {
  background-color: #f7f7ec;
  border-right: 1px solid #374151;
  width: 100%;
  height: calc(100vh - 80px);
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  transition: all 0.3s ease-out;
}

.container_hide {
  background-color: #f7f7ec;
  border-right: 1px solid #374151;
  width: 30%;
  height: calc(100vh - 80px);
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  transition: all 0.3s ease-out;
}

.main_box {
  padding: 5px 0px;
}

.header {
  text-align: center;
}

.customer_box {
  background-color: beige;
  padding: 5px 0px;
  cursor: pointer;
  margin-bottom: 5px;
  transition: all 0.2s ease-out;
}

.customer_box:hover {
  background-color: aliceblue;
}

.sub_header {
  font-size: 1.2rem;
  font-weight: 700;
  width: 100%;
  border-bottom: 1px solid #374151;
  margin-bottom: 5px;
}

.info_container {
  display: flex;
  font-size: 1.2rem;
  border-bottom: 1px solid #b9b9b9;
  margin-bottom: 3px;
}
.title {
  width: 125px;
}
.boolean_container {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  border-bottom: 1px solid #b9b9b9;
  margin-bottom: 3px;
}

.shoping_card_header_bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #374151;
  align-items: center;
}

.shoping_card_title {
  font-size: 1.2rem;
  font-weight: 700;

  margin-bottom: 5px;
}

.shoping_cart_add_icon {
  cursor: pointer;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid #374151;
  margin: 2px 5px 2px 0px;
  background-color: #5cb85c;
  transition: all 0.3s ease-out;
}

.shoping_cart_add_icon:hover {
  color: #5cb85c;
  border: 1px solid #5cb85c;
  background-color: white;
}

.shoping_cart_icon {
  font-size: 1.8rem;
  padding: 0px;
  margin-bottom: -5px;
  margin-right: 5px;
}

.shoping_cart_icon_text {
  font-size: 0.9rem;
  padding: 0px;
  margin: 0px;
}

.bottom_container {
  width: 100%;
}

.total_container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.total {
  font-size: 2rem;
  font-weight: 700;
}

.action_container {
  display: flex;
  flex-direction: row;
}

.save {
  display: flex;
  width: 50%;
  background-color: #5cb85c;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.save:hover {
  background-color: #282929;
  color: #5cb85c;
}
.cancel {
  display: flex;
  width: 50%;
  background-color: #d9534f;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.cancel:hover {
  background-color: #282929;
  color: #d9534f;
}
/* ================================ */
/* ==========  CARDS  ============= */
/* ================================ */

.cards_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.card {
  width: 190px;
  height: 190px;
  border: 1px solid #374151;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  background-color: #374151;
}

.number_card {
  width: 190px;
  height: 190px;
  border: 1px solid #374151;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 5rem;
  font-weight: 700;
}

.card:hover {
  opacity: 0.8;
  border: 1px solid black;
}

.card_name {
  color: white;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}

.card_price {
  color: aliceblue;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.85);
  font-size: 3.6rem;
  margin-bottom: 20px;
}

/* ================================ */
/* ====  EDIT SHOPPING CART  ====== */
/* ================================ */

.update_cart_item_grid_container {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  background-color: aliceblue;
  padding: 5px;
}

.update_cart_item_grid {
  height: 190px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: beige;
  color: #374151;
  border: 1px solid #374151;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.update_cart_item_grid:hover {
  color: beige;
  background-color: #374151;
}

.update_cart_item_grid_display {
  height: 190px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: beige;
  color: #374151;
  border: 1px solid #374151;
}

.update_cart_item_grid_icon {
  font-size: 3rem;
  font-weight: 700;
}

.update_cart_item_grid_text {
  font-size: 1rem;
}

.delete {
  border: 1px solid red;
  color: white;
  background-color: red;
  padding: 5px 5px 3px 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-size: 1.6rem;
}

.delete:hover {
  background-color: white;
  color: red;
}

.button_container {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.button_cancel {
  width: 50%;
  border: 1px solid #374151;
  color: #374151;
  background-color: rgb(222, 92, 92);
  padding: 10px 10px;
  text-align: center;
  margin: 1px;
  transition: 0.3s;
  cursor: pointer;
  font-size: 1.4rem;
}

.button_cancel:hover {
  background-color: #374151;
  color: rgb(222, 92, 92);
  border: 1px solid rgb(222, 92, 92);
}

.button_save {
  width: 50%;
  border: 1px solid #374151;
  color: #374151;
  background-color: rgb(90, 216, 90);
  padding: 10px 10px;
  text-align: center;
  margin: 1px;
  transition: 0.3s;
  cursor: pointer;
  font-size: 1.4rem;
}

.button_save:hover {
  background-color: #374151;
  color: rgb(90, 216, 90);
  border: 1px solid rgb(90, 216, 90);
}

@media (max-width: 768px) {
  .page_container {
    width: 100%;
    height: calc(100vh - 125px);
  }
  .page_container_hide {
    width: 0px;
    padding: 0px;
    transition: all 0.3s ease-out;
  }

  .container {
    width: 100%;
    height: calc(100vh - 125px);
    border-right: none;
    transition: all 0.3s ease-out;
  }

  .container_hide {
    border-right: none;
    width: 0%;
    padding: 0px;
    border-right: none;
    transition: all 0.3s ease-out;
  }

  .header_bar_title {
    font-size: 1rem;
  }

  .select_item_sub_header {
    font-size: 1rem;
    padding: 5px;
    text-decoration: underline;
  }

  .card {
    width: 110px;
    height: 110px;
  }

  .card_name {
    font-size: 0.8rem;
  }

  .card_price {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }

  .number_card {
    width: 80px;
    height: 80px;
    border: 1px solid #374151;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 3rem;
    font-weight: 700;
  }

  .table_head {
    font-size: 0.9rem;
  }

  .cell {
    font-size: 0.8rem;
  }

  .header {
    font-size: 1.2rem;
  }

  .sub_header {
    font-size: 1rem;
  }

  .info_container {
    font-size: 0.9rem;
  }
  .title {
    width: 125px;
  }

  .total {
    font-size: 1.4rem;
    font-weight: 700;
  }

  .cancel {
    font-size: 1.4rem;
  }

  .save {
    font-size: 1.4rem;
  }

  .update_cart_item_grid {
    height: 110px;
  }

  .update_cart_item_grid_display {
    height: 110px;
  }

  .update_cart_item_grid_icon {
    font-size: 2rem;
  }

  .update_cart_item_grid_text {
    font-size: 0.8rem;
  }
}
