.page_container {
  width: 100%;
  height: calc(100vh - 80px);
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
}

.summary_box {
  border: 1px solid #374151;
  padding: 5px;
  margin: 5px;
}

.header_box {
  background-color: aliceblue;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 15px;
}

.print_icon {
  font-size: 1.6rem;
  margin: 0px 15px 3px 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-out;
  padding: 2px 10px;
  border-radius: 2px;
}

.print_icon:hover {
  font-size: 1.6rem;
  margin-right: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #374151;
  color: aliceblue;
}

.print_icon_text {
  font-size: 1rem;
  margin-left: 5px;
}

.header {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .page_container {
    height: calc(100vh - 125px);
    overflow-y: auto;
  }

  .header {
    font-size: 1rem;
  }
}

/* ================================ */
/* =======  MONTHLY REPORT  ======= */
/* ================================ */

.total_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 2px solid #374151;
  background-color: beige;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1.6rem;
  font-weight: 700;
  box-shadow: 2px 2px 10px gray;
}

.info_box {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  border: 2px solid #374151;
  background-color: #c9daf8;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 10px gray;
}

.sub_info {
  width: 100%;
  padding: 2px;
}

.sub_info_set {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: 1px solid #374151;
  padding: 5px;
  margin: 1px;
}

.sub_info_set_clickable {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: 1px solid #374151;
  padding: 5px;
  margin: 1px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.sub_info_set_clickable:hover {
  background-color: beige;
}
.sub_info_title {
  font-size: 1.2rem;
}

.sub_info_value {
  font-size: 1.2rem;
  font-weight: 700;
}

.table_box {
  width: 100%;
  border: 2px solid #374151;
  background-color: #b6d7a8;
  padding: 10px;
  box-shadow: 2px 2px 10px gray;
}

.table_box_mobile {
  display: none;
  width: 100%;
  border: 2px solid #374151;
  background-color: #b6d7a8;
  padding: 6px;
  box-shadow: 2px 2px 10px gray;
}

@media (max-width: 768px) {
  .info_box {
    grid-template-columns: auto;
  }

  .table_box {
    display: none;
  }

  .table_box_mobile {
    display: block;
  }

  .info_box {
    padding: 5px;
  }
}

/* ================================ */
/* ==== DASHBOARD DATE PICKER  ==== */
/* ================================ */

.header_bar {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #374151;
  margin-bottom: 5px;
}

.header_bar_title {
  margin-left: 15px;
  color: #374151;
}

.date_picker_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.select_report_by {
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  border: none;
  background-color: transparent;
  font-weight: 700;
  color: #de5c5c;
}

.grid_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.year_grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  background-color: aliceblue;
  padding: 5px;
  border-bottom: 1px solid #374151;
  margin-bottom: 10px;
}

.month_grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  background-color: aliceblue;
  padding: 5px;
  border-bottom: 1px solid #374151;
  margin-bottom: 10px;
}

.grid {
  width: 80px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  background-color: beige;
  border: 1px solid #374151;
  cursor: pointer;
  transition: all 0.3s ease-out;
  font-size: 1.5rem;
}

.grid:hover {
  background-color: #374151;
  border: 1px solid beige;
  color: beige;
}

.grid_selected {
  width: 80px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  background-color: #374151;
  border: 1px solid #374151;
  color: beige;
  font-size: 1.5rem;
}

.button_container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding: 0px 8px;
}

.button_cancel {
  width: 50%;
  border: 1px solid #374151;
  color: #374151;
  background-color: #de5c5c;
  padding: 10px 10px;
  text-align: center;
  margin: 1px;
  transition: 0.3s;
  cursor: pointer;
  font-size: 1.4rem;
}

.button_cancel:hover {
  background-color: #374151;
  color: #de5c5c;
  border: 1px solid #de5c5c;
}

.button_save {
  width: 50%;
  border: 1px solid #374151;
  color: #374151;
  background-color: rgb(90, 216, 90);
  padding: 10px 10px;
  text-align: center;
  margin: 1px;
  transition: 0.3s;
  cursor: pointer;
  font-size: 1.4rem;
}

.button_save:hover {
  background-color: #374151;
  color: rgb(90, 216, 90);
  border: 1px solid rgb(90, 216, 90);
}

@media (max-width: 400px) {
  .grid {
    width: 50px;
    height: 50px;
    font-size: 1rem;
  }

  .grid_selected {
    width: 50px;
    height: 50px;
    font-size: 1rem;
  }
}
