/* ================================ */
/* ==========  MAIN PAGE  ========= */
/* ================================ */

.page_container {
  width: 100%;
  height: calc(100vh - 125px);
  border: 1px solid beige;
  background-color: aliceblue;
  padding: 5px 0px;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  overflow-x: hidden;
}

.main_page {
  width: 100%;
  margin: 0px 5px;
  border: 1px solid #374151;
  padding: 5px;
  overflow-y: auto;
}

.header_bar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #374151;
  margin-bottom: 5px;
}

.header_bar_title {
  margin-left: 15px;
  color: #374151;
}

.search_input {
  width: 50%;
  height: 40px;
  margin-right: 5px;
  border: 1px solid #374151;
  padding: 5px;
}

.side_bar_body {
  display: flex;
}
.image_container {
  display: flex;
  justify-content: center;
  background-color: beige;
  width: 100%;
  border: 1px solid #374151;
  margin-bottom: 5px;
}

.thumbnail {
  width: 200px;
  height: 200px;
  border: 1px solid #374151;
  margin: 10px;
}
/* ================================ */
/* =============  ICONS  ========== */
/* ================================ */

.icons_container {
  display: flex;
}

.small_icon {
  width: 50px;
  height: 50px;
  display: flex;
  color: #374151;
  background-color: beige;
  border: 1px solid #374151;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-left: 10px;
  font-size: 1.8rem;
}

.small_icon:hover {
  color: beige;
  background-color: #374151;
  border: 1px solid beige;
}
