.cards_container {
  display: flex;
  float: left;
  margin-bottom: 20px;
}

.card {
  width: 232px;
  height: 232px;
  padding: 5px;
  border: 1px solid #374151;
  border-radius: 5px;
  box-shadow: 2px 2px 5px;
  margin: 5px;
  cursor: pointer;
  background-color: beige;
  color: #374151;
  transition: all 0.3s ease;
  text-align: center;
}

.card:hover {
  background-color: #374151;
  color: beige;
}

.image {
  width: 100%;
  height: 168px;
}

.card_name {
  margin-top: 10px;
  font-size: 1.4rem;
  margin-bottom: 3px;
}

.card_description {
  display: none;
}

.price_card {
  width: 180px;
  padding: 5px;
  border: 1px solid #374151;
  border-radius: 5px;
  box-shadow: 2px 2px 5px;
  margin: 5px;
  cursor: pointer;
  background-color: beige;
  color: #374151;
  transition: all 0.3s ease;
  text-align: center;
}

.price_card:hover {
  background-color: #374151;
  color: beige;
}

.price_card_selected {
  width: 180px;
  padding: 5px;
  border: 1px solid #374151;
  border-radius: 5px;
  box-shadow: 2px 2px 5px;
  margin: 5px;
  cursor: pointer;
  background-color: rgb(166, 246, 193);
  color: #374151;
  transition: all 0.3s ease;
  text-align: center;
}

.card_price_tag_container {
  border: 1px solid #374151;
  height: 90px;
  margin: 10px 0px 5px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_price {
  font-size: 5rem;
}
.card_size {
  font-size: 1.4rem;
}

.big_card {
  width: 100%;
  height: 240px;
  padding: 5px;
  border: 1px solid #374151;
  border-radius: 5px;
  box-shadow: 2px 2px 5px;
  margin: 5px;
  background-color: beige;
  color: #374151;
  display: flex;
}

.big_card_image {
  width: 40%;
  height: 225px;
}

.big_card_text_container {
  padding: 10px;
  width: 60%;
}

.big_card_name {
  font-size: 1.4rem;
  border-bottom: 1px solid #374151;
  margin-bottom: 3px;
}

.big_card_description {
  font-style: italic;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .card {
    width: 170px;
    height: 170px;
  }

  .image {
    height: 112px;
  }

  .card_price_tag_container {
    height: 80px;
  }

  .card_price {
    font-size: 3rem;
  }

  .card_size {
    font-size: 1.2rem;
  }
}
