.pink {
  background-color: pink;
}

.turquoise {
  background-color: turquoise;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
  color: white;
}

.purple {
  background-color: purple;
  color: white;
}

.blue {
  background-color: blue;
  color: white;
}

.green {
  background-color: green;
  color: white;
}
