.container {
  margin: 5px;
  border-bottom: 1px solid #374151;
  padding-bottom: 5px;
}

.btn_container {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
}
.file_input {
  display: none;
}
.custom_file_upload {
  width: 200px;
  border: 1px solid #374151;
  color: white;
  font-weight: 400;
  background-color: #007bff;
  padding: 5px;
  text-align: center;
  margin: 1px;
  transition: 0.3s;
  cursor: pointer;
  font-size: 1.4rem;
}

.custom_file_upload:hover {
  background-color: #0056b3;
}

.loading_container {
  height: 6px;
  border: 1px solid gray;
  border-radius: 3px;
  overflow: hidden;
  margin: 10px 0px;
}

.loading_bar {
  background-color: red;
  height: 6px;
  transition: all 0.5 ease-in-out;
}

.image_container {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.img {
  width: 900px;
  height: auto;
  margin: 10px;
}

.button_choose {
  width: 200px;
  border: 1px solid #374151;
  color: white;
  font-weight: 400;
  background-color: #007bff;
  padding: 5px;
  text-align: center;
  margin: 1px;
  transition: 0.3s;
  cursor: pointer;
  font-size: 1.4rem;
}

.button_choose:hover {
  background-color: #0056b3;
}

@media (max-width: 1024px) {
  .img {
    width: 600px;
  }
}

@media (max-width: 768px) {
  .img {
    width: 100%;
  }
}
