.modal_overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(55, 65, 81, 0.9);
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 768px;
  height: 90vh;
  z-index: 500;
  padding: 10px;
  box-shadow: 5px 5px 5px #333;
  border-radius: 5px;
}

.modal_header_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #374151;
}

.modal_header_icon_container {
  display: flex;
}
.modal_header_icon {
  height: 40px;
  padding: 0px 10px;
  font-size: 2rem;
  color: #374151;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 5px;
}

.modal_header_icon:hover {
  color: beige;
  background-color: #374151;
}

.modal_header_text {
  padding: 10px 5px;
  color: #282829;
}

.modal_body {
  padding: 5px;
  background-color: beige;
  overflow-y: auto;
  height: calc(100vh - 150px);
}

.modal_input_container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #374151;
  padding: 10px;
  align-items: center;
}

.modal_input_label {
  width: 30%;
  font-size: 1.4rem;
}

.modal_input {
  font-size: 1.2rem;
  padding: 5px;
  width: 70%;
  border: 1px solid #374151;
  border-radius: 5px;
}

.modal_button_container {
  display: flex;
  flex-direction: row;
}

.modal_button_cancel {
  width: 50%;
  border: 1px solid #374151;
  border-radius: 5px;
  color: #374151;
  background-color: rgb(222, 92, 92);
  padding: 10px;
  text-align: center;
  margin: 10px;
  transition: 0.3s;
}

.modal_button_cancel:hover {
  background-color: #374151;
  color: rgb(222, 92, 92);
  border: 1px solid rgb(222, 92, 92);
}

.modal_button_save {
  width: 50%;
  border: 1px solid #374151;
  border-radius: 5px;
  color: #374151;
  background-color: rgb(90, 216, 90);
  padding: 10px;
  text-align: center;
  margin: 10px;
  transition: 0.3s;
}

.modal_button_save:hover {
  background-color: #374151;
  color: rgb(90, 216, 90);
  border: 1px solid rgb(90, 216, 90);
}

@media (max-width: 768px) {
  .modal {
    width: 95%;
    padding: 5px;
  }

  .modal_input_container {
    flex-direction: column;
  }

  .modal_input_label {
    width: 100%;
    margin-bottom: 5px;
  }

  .modal_input {
    width: 100%;
  }

  .modal_button_container {
    flex-direction: column;
  }

  .modal_button_cancel {
    width: auto;
    margin-top: 20px;
  }

  .modal_button_save {
    width: auto;
  }
}

.modal_sub_header {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #374151;
  border-bottom: 1px solid #374151;
  padding: 5px;
  align-items: center;
}

.modal_sub_header_text {
  color: #374151;
}

.modal_sub_header_icon {
  padding: 8px;
  font-size: 1.4rem;
  color: green;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.modal_sub_header_icon:hover {
  color: beige;
  background-color: green;
}

.modal2_overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(55, 65, 81, 0.9);
  width: 100%;
  height: 100vh;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal2 {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 768px;
  height: 90vh;
  z-index: 500;
  padding: 10px;
  box-shadow: 5px 5px 5px #333;
  border-radius: 5px;
}
