.input_container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #374151;
  padding: 10px;
  align-items: center;
}

.input_label {
  width: 30%;
  font-size: 1.4rem;
}

.input {
  font-size: 1.2rem;
  padding: 5px;
  width: 70%;
  border: 1px solid #374151;
  border-radius: 5px;
}

.textarea {
  font-size: 1.2rem;
  padding: 5px;
  width: 70%;
  border: 1px solid #374151;
  border-radius: 5px;
}

.button_container {
  display: flex;
  flex-direction: row;
}

.button_cancel {
  width: 50%;
  border: 1px solid #374151;
  border-radius: 5px;
  color: #374151;
  background-color: rgb(222, 92, 92);
  padding: 10px;
  text-align: center;
  margin: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.button_cancel:hover {
  background-color: #374151;
  color: rgb(222, 92, 92);
  border: 1px solid rgb(222, 92, 92);
}

.button_save {
  width: 50%;
  border: 1px solid #374151;
  border-radius: 5px;
  color: #374151;
  background-color: rgb(90, 216, 90);
  padding: 10px;
  text-align: center;
  margin: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.button_save:hover {
  background-color: #374151;
  color: rgb(90, 216, 90);
  border: 1px solid rgb(90, 216, 90);
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.error_message {
  position: absolute;
  right: 40px;
  color: red;
  margin-right: 5px;
  animation: slideUp ease-out 0.3s forwards;
}

@media (max-width: 768px) {
  .input_container {
    flex-direction: column;
  }

  .input_label {
    width: 100%;
    margin-bottom: 5px;
  }

  .input {
    width: 100%;
  }

  .textarea {
    width: 100%;
  }

  .button_container {
    flex-direction: column;
  }

  .button_cancel {
    width: auto;
    margin-top: 20px;
  }

  .button_save {
    width: auto;
  }

  .error_message {
    right: 20px;
    margin-top: 5px;
  }
}
