.container {
  background-color: aliceblue;
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.header_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #374151;
  margin-bottom: 5px;
}

.header_text {
  padding: 10px 5px;
  color: #282829;
}

.header_icon_container {
  display: flex;
}

.icon_box {
  cursor: pointer;
  width: 80px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #374151;
  border: 1px solid #374151;
  margin: 2px 5px 2px 0px;
  background-color: beige;
  transition: all 0.3s ease-in-out;
}

.icon_box_edit {
  cursor: pointer;
  width: 80px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #374151;
  border: 1px solid #374151;
  margin: 2px 5px 2px 0px;
  background-color: orange;
  transition: all 0.3s ease-in-out;
}

.icon_box_edit:hover {
  color: orange;
  border: 1px solid orange;
  background-color: white;
}

.icon_box_delete {
  cursor: pointer;
  width: 80px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid #374151;
  margin: 2px 5px 2px 0px;
  background-color: red;
  transition: all 0.3s ease-in-out;
}

.icon_box_delete:hover {
  color: red;
  border: 1px solid red;
  background-color: white;
}

.icon {
  font-size: 1.8rem;
  padding: 0px;
  margin-bottom: -5px;
}

.icon_text {
  font-size: 0.9rem;
  padding: 0px;
  margin: 0px;
}

.customer_info_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.customer_box {
  border: 1px solid #374151;
  background-color: beige;
  padding: 5px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  margin-bottom: 5px;
}

.customer_info {
  font-size: 1.6rem;
  font-weight: 700;
}

.sub_header {
  font-size: 1.2rem;
  font-weight: 700;
  width: 100%;
  border-bottom: 1px solid #374151;
  margin-bottom: 5px;
}

.additional_info_container {
  font-size: 1.2rem;
  font-weight: 700;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.info_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  padding: 2px;
  border-bottom: 1px solid #b9b9b9;
  margin-bottom: 3px;
}
.title {
  width: 150px;
}

.bottom_container {
  width: 100%;
  border: 1px solid #374151;
}

.total_container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.total {
  font-size: 2rem;
  font-weight: 700;
}

@media (max-width: 768px) {
  /* .customer_info_container {
    flex-direction: column;
    align-items: flex-start;
  } */
  .customer_info {
    font-size: 1rem;
    font-weight: 700;
  }

  .header_text {
    padding: 0px;
    width: 0px;
    overflow: hidden;
  }

  .sub_header {
    font-size: 1rem;
  }

  .info_container {
    font-size: 1rem;
  }

  .customer_address {
    font-size: 1.4rem;
  }

  .bottom_container {
    width: 100%;
    border: 1px solid #374151;
  }

  .total_container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .total {
    font-size: 1.4rem;
    font-weight: 700;
  }
}
