/* ================================ */
/* =======  ORDER MAIN PAGE  ====== */
/* ================================ */

.error {
  text-align: center;
  margin-top: 100px;
  color: #d9534f;
}

.page_container {
  height: calc(100vh - 80px);
  border: 1px solid beige;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all 0.3s ease-out;
  overflow-x: hidden;
}

.date {
  margin-bottom: 5px;
  padding: 5px;
  text-align: center;
  border: 1px solid #374151;
  background-color: aliceblue;
  font-size: 1.2rem;
  font-weight: 700;
}

.table_container {
  border: 1px solid #374151;
  overflow: auto;
  padding: 5px;
  margin: 5px;
}

.table_loader {
  background-color: white;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  width: 100%;
  border-spacing: 1px;
  background-color: black;
  margin-bottom: 50px;
}

.table_head {
  background-color: aliceblue;
  font-size: 1.2rem;
  padding: 5px;
}

.table_cell {
  background-color: white;
  transition: all 0.3s ease-out;
  cursor: pointer;
  padding: 2px 10px;
}

.table_cell:hover {
  background-color: beige;
}

.table_cell_name {
  font-size: 1.4rem;
  font-weight: 700;
}

.table_cell_address {
  font-size: 1rem;
}

.table_cell_status {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  min-height: 50px;
  padding: 3px;
  cursor: pointer;
}

.table_cell_total {
  display: flex;
  justify-content: right;
  align-items: center;
  min-height: 50px;
  background-color: white;
  font-size: 2rem;
  font-weight: 700;
  padding: 3px 10px;
}

@media (max-width: 768px) {
  .page_container {
    height: calc(100vh - 80px);
  }

  .table {
    width: 100%;
    border-spacing: 1px;
    background-color: black;
    margin-bottom: 50px;
  }

  .table_head {
    background-color: aliceblue;
    font-size: 0.9rem;
  }

  .table_cell {
    background-color: white;
    transition: all 0.3s ease-out;
    cursor: pointer;
    padding: 2px 10px;
  }

  .table_cell:hover {
    background-color: beige;
  }

  .table_cell_name {
    font-size: 1rem;
    font-weight: 700;
  }

  .table_cell_address {
    font-size: 0.8rem;
  }

  .table_cell_status {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    font-size: 0.9rem;
    padding: 3px;
    cursor: pointer;
  }

  .table_cell_total {
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 40px;
    background-color: white;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 3px 10px;
  }
}

.pink {
  background-color: pink;
}

.turquoise {
  background-color: turquoise;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
  color: white;
}

.purple {
  background-color: purple;
  color: white;
}

.blue {
  background-color: blue;
  color: white;
}

.green {
  background-color: green;
  color: white;
}

/* ================================ */
/* =======  STATUS UPDATER  ======= */
/* ================================ */

.header_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #374151;
  margin-bottom: 5px;
}

.header_text {
  padding-left: 10px;
}

.header_icon_container {
  display: flex;
}

.header_icon {
  height: 50px;
  padding: 0px 10px;
  font-size: 2rem;
  color: #374151;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 5px;
  border: 1px solid #374151;
}

.header_icon:hover {
  color: beige;
  background-color: #374151;
}

.status_icon_container {
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  padding: 5px;
}

.status_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 190px;
  width: 190px;
  font-size: 5rem;
}

.status_icon_text {
  margin-top: 10px;
  font-size: 1.6rem;
}

.status_icon_green {
  background-color: green;
  color: white;
}

.status_icon_blue {
  background-color: blue;
  color: white;
}

.status_icon_red {
  background-color: red;
  color: white;
}

.button_container {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.button_cancel {
  width: 48%;
  border: 1px solid #374151;
  color: #374151;
  background-color: rgb(222, 92, 92);
  padding: 10px;
  text-align: center;
  transition: all 0.3s ease-out;
  cursor: pointer;
  font-size: 1.2rem;
}

.button_cancel:hover {
  background-color: #374151;
  color: rgb(222, 92, 92);
  border: 1px solid rgb(222, 92, 92);
}

.button_save {
  width: 48%;
  border: 1px solid #374151;
  color: #374151;
  background-color: rgb(90, 216, 90);
  padding: 10px;
  text-align: center;
  transition: all 0.3s ease-out;
  cursor: pointer;
  font-size: 1.2rem;
}

.button_save:hover {
  background-color: #374151;
  color: rgb(90, 216, 90);
  border: 1px solid rgb(90, 216, 90);
}

@media (max-width: 768px) {
  .header_text {
    font-size: 1.2rem;
  }

  .status_icon {
    height: 110px;
    width: 110px;
    font-size: 2.8rem;
  }

  .status_icon_text {
    margin-top: 10px;
    font-size: 1rem;
  }
}

/* ================================ */
/* =======  ORDER ICONS BAR  ====== */
/* ================================ */

.icon_bar_container {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  background-color: beige;
  justify-content: space-between;
  padding: 5px 10px;
  box-shadow: 2px 0px 5px #374151;
}

.icon_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  color: #374151;
  cursor: pointer;
}

.icon {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0px;
  transition: all 0.3s ease-in-out;
}

.icon_active {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
  transition: all 0.3s ease-in-out;
  margin-top: -20px;
  background-color: beige;
}

.icon_text {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

/* ================================ */
/* ===========  SIDE BAR  ========= */
/* ================================ */

.container {
  background-color: #f7f7ec;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  transition: all 0.3s ease-out;
}

.date {
  margin: 5px 5px 0px 5px;
  padding: 5px;
  text-align: center;
  border: 1px solid #374151;
  background-color: aliceblue;
  font-size: 1.2rem;
  font-weight: 700;
}

.summary_box {
  border: 1px solid #374151;
  padding: 5px;
  margin: 5px 5px 0px 5px;
}

.total_box {
  width: 100%;
  background-color: black;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.total_item_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #374151;
  padding: 5px 0px;
}

.total_item_value {
  font-size: 2.5rem;
}
.total_item_label {
  font-size: 0.8rem;
}

.header_box {
  background-color: aliceblue;
  height: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  padding-left: 15px;
}

.header {
  font-size: 1.2rem;
}
